body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    background-color: black;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
}

.nav-link {
    font-family: 'Gravitas One';
    font-size: 10px;
}

.navbar a:hover {
    color: rgb(233, 136, 10);
}

#logo {
    font-family: 'Satisfy';
    font-size: 20px;
    color: rgb(233, 136, 10);
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 0.8fr 200px;
    grid-gap: 10px;
    grid-template-areas: 
    "main"
    "about"
    "archive";
    margin: 10px 10px;
}

#main {
    grid-area: main;
}



#archive {
    grid-area: archive;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    transition: 0.2s;
    padding-bottom: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.blogtitle {
    text-align: center;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blogtext {
    margin: 5px 10px;
}

.btn-info {
    margin: 0 0 10 0px;
}

#portrait {
    height: 250px;
}
.footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(145, 141, 141, 0.2);
    height: 40px;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: black;
    text-align: center;
    padding: 0 10px;
    font-size: 15px;
    text-decoration: none;
}

.footer a:hover{
    color: rgb(233, 136, 10);
}


@media(min-width: 425px) { 
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1.2fr 0.5fr 200px;
    }
    .card {
        margin: 0 60px;
    }
}
/* 
@media(min-width: 900px) {
    .navbar {
        height: 150px;
    }
    .content {
        grid-template-columns: 1fr 1500px;
        grid-template-rows: 975px 1fr;
        grid-template-areas: 
        "main about"
        "main archive";
    }

    .card {
        margin: 0 40px;
    }

    .mainbox {
        margin-left: 500px;
    }

    .sidebar {
        margin-right: 500px
    }
}  */