@import "common.css";

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 
    "main"
    "sidebar";
    margin: 15px 15px;
}

#main {
    grid-area: main;
}

#sidebar {
    grid-area: sidebar;
}

#archive {
    margin-top: 15px;
}

@media (min-width: 768px) {
    .content {
        grid-gap: 40px;
        margin: 40px 40px;
    }

    #archive {
        margin-top: 40px;
    } 
}

@media (min-width: 1024px) {
    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
        "main sidebar";
        margin: 40px 150px 40px 150px;
    }
} 