@import "common.css";

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.5fr 135px;
    grid-gap: 10px;
    grid-template-areas: 
    "main"
    "about"
    "archive";
    margin: 10px 10px;
}

#main {
    grid-area: main;
}

#archive {
    grid-area: archive;
}

#about {
    grid-area: about;
}

@media(min-width: 425px) { 
    .card {
        margin: 0 20px;
    }
} 

@media(min-width: 768px) {

} 