@import "common.css";

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.5fr 150px;
    grid-gap: 10px;
    grid-template-areas: 
    "main"
    "about"
    "archive";
    margin: 15px 15px;
}

#main {
    grid-area: main;
}

#archive {
    grid-area: archive;
}

#about {
    grid-area: about;
}

@media (min-width: 768px) { 
    .card {
        margin: 10px 30px;
    }

    .mainbox {
        margin-top: 10px;
    } 
}

@media (min-width: 1024px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 150px 200px;
        grid-template-areas: 
        "main main about"
        "main main archive"
        "main main archive";
        margin: 0 80px 0 80px;
    }

    .mainbox .card {
        margin-top: 20px;
        margin-right: 10px;
    }

    .sidebar .card {
        margin-top: 10px;
        margin-left: 10px;
    }

    #about {
        margin-top: 20px;
    }

} 